html, body, #root, .fullscreen-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  background: #222233;
  display: flex;
  justify-content: center;
  align-items: center;
}




